* {
  font-family: "Oxygen", "Helvetica";
  text-align: center;

}

body {
  background-color: #f1f0ee;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    float: left;
    margin-left: 0px;
    margin-right: 0px;

}

h1 {
  border: 2px solid #A9A9A9;
  border-width: thick;
  border-radius: 5px;
  font-family: "Lato", "Helvetica", "Oxygen";
  font-size: 60px;
  color: #FF383F;
  padding: auto;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
  font-size: 40px;
  color: black;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #FF383F;
}

.bottom {
  margin-bottom: 50px;
}
